-
  var monthArr = [
    {
      ttl: "0歳児（生後6ヶ月以降）",
      txt: "45000円（税込495000円）"
    },
    {
      ttl: "1歳児",
      txt: "41000円（税込45100円）"
    },
    {
      ttl: "2歳児",
      txt: "39000円（税込42900円）"
    },
    {
      ttl: "3歳児以上",
      txt: "37000円（税込40700円）"
    },
    {
      ttl: "小学生以上",
      txt: "34000円（税込37400円）"
    },
    {
      ttl: "日次保育料金",
      txt: "300円/1時間（税込330円）"
    },
    {
      ttl: "土日・祝日利用料金",
      txt: "1000円/1日（税込1100円）"
    },
    {
      ttl: "キャンセル料金/当日キャンセル",
      txt: "1500円（税込1650円）"
    },
    {
      ttl: "キャンセル料金/無断キャンセル",
      txt: "3000円（税込3300円）"
    },
    {
      ttl: "AM4時以降の延長料金",
      txt: "400円/15分（税込440円）"
    },
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡あり",
      txt: "3300円"
    },
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡なし",
      txt: "6600円"
    },
  ]

  var tempArr = [
    {
      ttl: "基本料金/平日",
      txt: "1500円/一日（税込1650円）"
    },
    {
      ttl: "基本料金/土日祝日",
      txt: "2000円/一日（税込2200円）"
    },
    {
      ttl: "0歳児（生後6ヶ月以降）",
      txt: "1400円/1時間（税込1540円）"
    },
    {
      ttl: "1歳児",
      txt: "1300円/1時間（税込1430円）"
    },
    {
      ttl: "2歳児",
      txt: "1200円/1時間（税込1320円）"
    },
    {
      ttl: "3歳児以上",
      txt: "1100円/1時間（税込1210円）"
    },
    {
      ttl: "キャンセル料金/当日キャンセル",
      txt: "1500円（税込1650円）"
    },
    {
      ttl: "キャンセル料金/無断キャンセル",
      txt: "3000円（税込3300円）"
    },
    {
      ttl: "AM4時以降の延長料金",
      txt: "400円/15分（税込440円）"
    },
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡あり",
      txt: "3300円"
    },
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡なし",
      txt: "6600円"
    },
  ]
  var otherArr = [
    {
      ttl: "オムツ代",
      txt: "300円/一枚（税込330円）"
    },
    {
      ttl: "ミルク代",
      txt: "400円/一回（税込440円）"
    },
    {
      ttl: "シャワー代",
      txt: "1000円/1回（税込1100円）"
    },
    {
      ttl: "シーツ代",
      txt: "500円/月（税込550円）",
      txt_2: "200円/回（税込220円）"
    },
    {
      ttl: "送迎代",
      txt: "場所によって料金が異なるため、公式LINE経由でご相談ください"
    },
    {
      ttl: "無断登園",
      txt: "3000円（税込3300円）"
    }
  ]



h3 概要
table.c-price_table#js-monthTable.fadeIn
  each val in monthArr
    tr
      th #{val.ttl}
        br
        |#{val.ttl_2}
      td #{val.txt}
table.c-price_table#js-tempTable
  each val in tempArr
    tr
      th #{val.ttl}
        br
        |#{val.ttl_2}
      td #{val.txt}
table.c-price_table#js-otherTable
  each val in otherArr
    tr
      th #{val.ttl}
        br
        |#{val.ttl_2}
      td #{val.txt}