-
  var monthArr = [
    {
      th_ttl: "対象児",
      th_ttl_2: "料金"
    },
    {
      ttl: "0歳児",
      ttl_2: "(生後6ヶ月以降)",
      txt: "49500円"
    },
    {
      ttl: "1歳児",
      txt: "45100円"
    },
    {
      ttl: "2歳児",
      txt: "42900円"
    },
    {
      ttl: "3歳児以上",
      txt: "40700円"
    },
    {
      ttl: "小学生以上",
      txt: "37400円"
    },
  ]

  var monthArr_2 = [
    {
      ttl: "日次保育料金",
      txt: "330円/1時間"
    },
  ]

  var monthArr_3 = [
    {
      ttl: "土日・祝日利用料金",
      txt: "1100円/1日"
    },
  ]

  var monthArr_4 = [
    {
      ttl: "キャンセル料金/",
      ttl_2: "当日キャンセル",
      txt: "1650円"
    },
    {
      ttl: "キャンセル料金/",
      ttl_2: "無断キャンセル",
      txt: "3300円"
    },
  ]

  var monthArr_5 = [
    {
      ttl: "AM4時以降の延長料金",
      txt: "440円/15分"
    },
  ]

  var monthArr_6 = [
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡あり",
      txt: "3300円"
    },
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡なし",
      txt: "6600円"
    },
  ]

  var monthArr_7 = [
    {
      ttl: "遅延損害金",
      ttl_2: "※お支払いが翌日以降になる方",
      ttl_3: "※月極預かり/一時預かり両方適用します",
      txt: "当日料金の10%"
    },
  ]

  var tempArr_1 = [
    {
      ttl: "基本料金/平日",
      txt: "1650円/1日"
    },
    {
      ttl: "基本料金/土日祝日",
      txt: "2200円/1日"
    },
  ]


  var tempArr_2 = [
    {
      th_ttl: "対象児",
      th_ttl_2: "料金"
    },
    {
      ttl: "0歳児（生後6ヶ月以降）",
      txt: "1540円/1時間"
    },
    {
      ttl: "1歳児",
      txt: "1430円/1時間"
    },
    {
      ttl: "2歳児",
      txt: "1320円/1時間"
    },
    {
      ttl: "3歳児以上",
      txt: "1210円/1時間"
    },
  ]
  var tempArr_3 = [
    {
      ttl: "キャンセル料金/当日キャンセル",
      txt: "1650円"
    },
    {
      ttl: "キャンセル料金/無断キャンセル",
      txt: "3300円"
    },
  ]

  var tempArr_4 = [
    {
      ttl: "AM4時以降の延長料金",
      txt: "440円/15分"
    },
  ]

  var tempArr_5 = [
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡あり",
      txt: "3300円"
    },
    {
      ttl: "6時以降お迎えの違約金について",
      ttl_2: "AM4:00までに連絡なし",
      txt: "6600円"
    },
  ]
  var tempArr_6 = [
    {
      ttl: "遅延損害金",
      ttl_2: "※お支払いが翌日以降になる方",
      ttl_3: "※月極預かり/一時預かり両方適用します",
      txt: "当日料金の10%"
    },
  ]
  var otherArr = [
    {
      ttl: "オムツ代",
      txt: "330円/1枚"
    },
    {
      ttl: "ミルク代",
      txt: "440円/1回"
    },
    {
      ttl: "シャワー代",
      txt: "1100円/1回"
    },
    {
      ttl: "シーツ代",
      txt: "550円/月",
      txt_2: "220円/回"
    },
    {
      ttl: "無断登園",
      txt: "3300円"
    },
  ]



h3 概要
.c-priceTable_wrapper#js-monthTable
  table.c-price_table.fadeIn
    each val in monthArr
      if val.th_ttl
        tr
          th.center #{val.th_ttl}
          th.center #{val.th_ttl_2}
      else
        tr
          td #{val.ttl}
            br
            |#{val.ttl_2}
          td #{val.txt}
  table.c-price_table.fadeIn
    each val in monthArr_2
      tr
        td.bold #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table.fadeIn
    each val in monthArr_3
      tr
        td.bold #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table.fadeIn
    each val in monthArr_4
      tr
        td.bold #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table.fadeIn
    each val in monthArr_5
      tr
        td.bold #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table.fadeIn
    each val in monthArr_6
      tr
        td.bold #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table.fadeIn
    each val in monthArr_7
      tr
        td.bold #{val.ttl}
          br
          |#{val.ttl_2}
          br
          |#{val.ttl_3}
        td #{val.txt}

.c-priceTable_wrapper#js-tempTable
  table.c-price_table
    each val in tempArr_1
      tr
        th #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table
    each val in tempArr_2
      if val.th_ttl
        tr
          th.center #{val.th_ttl}
          th.center #{val.th_ttl_2}
      else
        tr
          td #{val.ttl}
            br
            |#{val.ttl_2}
          td #{val.txt}
  table.c-price_table
    each val in tempArr_3
      tr
        th #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table
    each val in tempArr_4
      tr
        th #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table
    each val in tempArr_5
      tr
        th #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}
  table.c-price_table
    each val in tempArr_6
      tr
        th #{val.ttl}
          br
          |#{val.ttl_2}
          br
          |#{val.ttl_3}
        td #{val.txt}

.c-priceTable_wrapper#js-otherTable
  table.c-price_table
    each val in otherArr
      tr
        th #{val.ttl}
          br
          |#{val.ttl_2}
        td #{val.txt}