mixin meta(meta)
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title #{meta.title}
  meta(name="description" content=`${meta.description}`)
  meta(property="og:url" content=`${meta.url}`)
  meta(property="og:title" content=`${meta.title}`)
  meta(property="og:type" content="website")
  meta(property="og:description" content=`${meta.description}`)
  meta(property="og:image" content=`${meta.ogImg || defaultOgImg}`)
  meta(property="og:image:secure_url" content=`${meta.ogImg || defaultOgImg}`)
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:description" content=`${meta.description}`)
  meta(name="twitter:title" content=`${meta.title}`)
  meta(property="og:site_name" content=`${meta.title}`)
  meta(property="og:locale" content="ja_JP")
  meta(name="format-detection" content="telephone=no")
  link(rel="shortcut icon" href="/favicon.ico")
  link(rel="canonical", href=`${meta.url}`)
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&family=EB+Garamond&family=Kaisei+Decol&family=Noto+Sans+JP:wght@100..900&family=RocknRoll+One&family=Yomogi&family=Yusei+Magic&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">