extends ./../layout/_layout

block meta
  -
    const meta = {
      title:"美容院/ヘアサロンの方へ｜AGAカウンセリングセンター",
      description: "AGAカウンセリングセンタ-は、あなたのお店に専用POPを設置するだけでサイドビジネスが開始できる、ビジネススキームです。",
    }

block name
  - const name = "business"

  block contents
  -
   const merit = [
      {
        "lead": "簡単",
        "txt": "<span class='_green'>POPを店頭に設置するだけ</span>。難しい初期設定はありません。"
      },
      {
        "lead": "無料",
        "txt": "<span class='_green'>導入費用は0円</span>。気軽に始められます。"
      },
      {
        "lead": "ラクチン運用",
        "txt": "<span class='_green'>何もしなくても</span>サイドビジネスが展開していきます。"
      }
    ]
    const structure = [
      {
        "txt": "AGAに興味があるユーザーが、あなたのお店に設置されたPOPにスマホをかざすと、本サービスのLINE公式アカウントを展開。",
        "icon": "structure-one.svg",
        "img": "structure-one.png"
      },
      {
        "txt": "LINEから、お客様のご希望の日時を登録し、オンラインでカウンセリングを行います。",
        "icon": "structure-two.svg",
        "img": "structure-two.png"
      },
      {
        "txt": "カウンセリングの結果、お客様の症状やご希望になったクリニックをご紹介します。",
        "icon": "structure-three.svg",
        "img": "structure-three.png"
      },
      {
        "txt": "あなたのお店からクリニックに送客いただいた手数料をお支払いいたします。",
        "icon": "structure-four.svg",
        "img": "structure-four.png"
      }
    ]
  main.main
    .topHero
      .topHero-inner
      .topHeroImg-wrapper
        .txtBlock-wrapper
          p (仮)POPを置いておくだけで<br>ドンドン儲かる
          .txtBlockImg-wrapper
            img(src="/assets/img/topHero-ttl.png", alt="")
        //- img(src="/assets/img/business-top-sp.jpg", alt="")
        p.dummy-txt ダミー画像<br>店頭にPOPが置かれた風景の想定
      .topHero-txtArea
        .txtArea-inner
          .txtAreaImg-wrapper
            p <span>AGAカウンセリングセンターとは</span>
            img(src="/assets/img/topHero-txtAreaImg.png", alt="")
          p.txtArea-txt (仮)どなたでも、お気軽にAGAについてのご質問やカウンセリングを<span class="_green">オンラインで受けることができるサービス</span>です。
    .section-wrapper
      section.merit
        .container
          .sectionTtl-wrapper
            p.merit-txt AGAカウンセリングセンターの
            h2.merit-ttl メリット
          ul.section-list
            each item in merit
              li.list-item
                .listItem_inner
                  p.listItem-lead <img src="/assets/img/check-icon.svg" alt=""> !{item.lead}
                  p.listItem-txt !{item.txt}
      section.structure
        .container
          .sectionTtl-wrapper
            p.merit-txt AGAカウンセリングって
            h2.merit-ttl どんな仕組み？
          ul.section-list
            each item in structure
              li.list-item
                .listItem-inner
                  .itemImg-wrapper
                    img(src=`/assets/img/${item.icon}`, alt="")
                  p !{item.txt}
                .itemImg-wrapper
                  img(src=`/assets/img/${item.img}`, alt="")

      //- include ./../object/component/_superviseBlock
      //- include ./../object/component/_femaleBlock
      //- include ./../object/component/_faq
      //- include ./../object/component/_attention